*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: rgb(38, 38, 38);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoPhoto{
    width: 120px;
}
.menus{
    display: flex;
}
.menus > li{
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}
.menus li:hover{
    background-color: red;
    border-radius: 5px;
    color: aqua;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url("../images/background.png"), linear-gradient(45deg, #1d1d1d, #343434);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-img{
    width: 300px;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.desc{
    font-size: 18px;
    margin: 15px 0;
}
.btn{
    padding: 10px 20px;
    background-color: #FF5E3A;
    color: white;
    border: none;
    border-radius: 5px;
}
/* About us section */
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row-reverse; */
}
.about-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.about-info{
    width: 350px;
}
.about-info > h3{
    width: 210px;
}
.about-info > p{
    padding: 15px 0;
}
.about-img{
    width: 300px;
}
/* Our services section started */

.section-services{
    background-color: black;
    color: white;
    padding: 50px 0;
}

.service-container{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 250px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    border-radius: 5px;
    background-color: #1d1d1d;
    text-align: center;
    padding: 15px;
    color: white;
}
.box-icon{
    width: 50px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 5px;
}
.box-btn{
    background-color: gray;
    margin-top: 15px;
}